* {
  margin: 0;
  padding: 0;
}
:root {
  --primary-font-family: "Markazi Text", serif;
  --secondary-font-family: "Karla", sans-serif;
  --primary-color: #495e57;
  --secondary-color: #f4ce14;
}
.App {
  margin-top: 3vh;
  margin-left: 10vw;
  margin-right: 10vw;
}
