.container {
  display: flex;
  justify-content: stretch;
  gap: 5vw;
  margin: 30px 0;
}
.container li {
  list-style-type: none;
}
.container a {
  text-decoration: none;
  color: black;
  font-family: var(--primary-font-family);
  font-size: 16px;
  font-family: 400;
}
.container a:hover {
  color: #495e57;
}
.container h4 {
  color: black;
  font-size: 18px;
  font-weight: bold;
}
.container img {
  margin: 1vw;
}
