.row {
  display: flex;
  flex-direction: row;

  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex-wrap: wrap;
  flex: 1;
}
img {
  display: block;
  margin: auto;
  box-sizing: border-box;
}

h2 {
  color: var(--primary-color);
  margin: 2vw;
}
.specials p {
  font-family: var(--secondary-font-family);
  font-size: 11px;
  color: black;
}
.specials h3 {
  color: var(--primary-color);
}

.article {
  background-color: #edefee;
}

button {
  background-color: var(--primary-color);
  color: #edefee;
  font-family: var(--secondary-font-family);
  font-size: 16pt;
  font-weight: bold;
  border-radius: 16px;
  width: 148pt;
  height: 35pt;
  margin: 2vw;
}
h3 .price {
  color: var(--secondary-color);
}
