.specials {
  display: grid;
  grid-template-areas:
    "header header button"
    " article article article ";
  grid-template-rows: 50px 1fr;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2vw;
  padding: 5vw;
  justify-items: stretch;
}
h2 {
  grid-area: header;
  color: var(--primary-color);
}
.specials h3 {
  color: var(--primary-color);
}
article {
  background-color: #edefee;
}

button {
  grid-area: button;
  background-color: var(--primary-color);
  color: #edefee;
  font-family: var(--secondary-font-family);
  font-size: 16pt;
  font-weight: bold;
  border-radius: 16px;
  width: 148pt;
  height: 35pt;
  margin: 5px;
}
